version: '2'
services:
  couchdb:
    build: ./couchdb
    image: adentes/sofia-couchdb
    environment:
      - COUCHDB_USERNAME=username
      - COUCHDB_PASSWORD=userpass
      - COUCHDB_DBNAME=sofia-fiches
  #    - SOFIA_TEST=true #Generate 10 testing users
    volumes:
      - ./couchdb/data:/data
#    ports:     # Publish if you want to don't use a front-end or publish on loopback
#       - "5984:5984"
#       - "127.0.0.1:5984:5984"

  front: # Comment all this parts to disable caddy front-end
    build: ./caddy
    image: adentes/sofia-frontdb
    environment:
      - HOSTNAME=localhost # In production my.domain.fr
    ports:
       - "80:80"
       - "443:443"
       - "5984:5984"
    links:
     - couchdb:couchdb
