
  .page{
    display : none;
  }
  .trumbowyg li, .trumbowyg button {
    margin-bottom: 0;
  }
  #export p{
    margin-bottom: 1rem;
  }
  #export p>span{
    float: right;
  }
  #export>#table>.row>.column{
   border: 1px solid #ccc;
  }
  #export>#table>.row>.column-50{
   padding: 0px 0px 0px 1rem;
  }
  #export>#table>.row>.column .column-40{
   padding:5px;
  }
  #export>#table>.row>.column .column-25{
   padding:2px;
  }
  #conflict .column {
    background: #d1d1d1;
    text-align: center;
    border-radius: .4rem;
    margin-bottom: 2.5rem;
    margin: 0 10px 10px 10px;
  }
  /* Applying size variation */
  .button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
  }

  #conflict .button {
      margin-right: 0.8rem;
  }
  @media print {
    #menu, body>h1, #export>button {
      display:none;
    }
    #export img{
      width: 75%;
    }
    #export #table{
      font-size: 65%;
    }
  }
  /*
  @media (min-width: 40rem){
    #conflict .row {
        width: calc(100% - 2.2em);
    }
  }
  */

  /* import form Diff lib */

.diff {
	display: inline-block;
}
.diff-level,.diffResult .level {
	margin-left: 1.6em;
}
.diff-holder,.diffResult .holder {
	color: #666;
	margin: 0;
}
.diff-holder span,.diffResult .holder span{
	color: #AAA;
}
del.diff,.diffResult del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}
ins.diff,.diffResult ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}
del.diff-key,.diffResult del.key {
	border: 1px solid #f8a4a4;
}
ins.diff-key,.diffResult ins.key {
	border: 1px solid #a3ce4c;
	margin-top: -1px;
	position: relative;
}
ins.diff span,.diffResult ins span {
	color: #AABF40;
}
del.diff span,.diffResult del span {
	color: #EE8177;
}
